.App {
  min-height: 100vh;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #4e008e 50%, #4f12aa 100%)
}

.game-view {
  width: 70rem;
  margin:auto;
  background: #4f12aa;
}
.scenario{
  background-color: whitesmoke;
  margin: auto;
  width: 700px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #4f12aa;
  color: #4e008e;
}

.answers {
  width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

.list-group-item-answers {
  background-color: #4e008e;
  border: 2px solid #4f12aa;
  text-align: left;
  border-radius: 5px;
  color: whitesmoke;
}

.list-group-item-answers:hover {
  border: 1px outset #5f1e91;
  background-color: #370164;
}

.list-group-item-selected {
  border: 1px outset #5f1e91;
  background-color: #250242;
  text-align: left;
  border-radius: 5px;
  color: whitesmoke;

}

.list-group-item-correct {
  border: green;
  background-color: green;
  text-align: left;
  border-radius: 5px;
  color: whitesmoke;
}

.list-group-item-incorrect {
  border: red;
  background-color: red;
  text-align: left;
  border-radius: 5px;
  color: whitesmoke;
}

.btn-submit {
  color: rgb(228, 134, 57);
  font-weight: bold;
  background-color: #4e008e;
  border: 2px solid #4f12aa;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 8px #4c0f7a;
}

.btn-submit:hover {
  background-color: #370164;
  color: rgb(228, 134, 57);
}

.btn-submit:active {
  box-shadow: 0 5px #370164;
  transform: translateY(4px);
}
